{%load static%}
<html>

    <head>

        <title>Project Borrow</title>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css/">

        <style type="text/css">

        .click{

        padding: 60px;
        text-align: center;
        }

            
        #pahiram, #donate, #penalty, #reg{
                font-family: 'Montserrat', sans-serif;
                width: 200px;
                height: 50px;
                border-color: #6e6046;
                background:rgb(124, 67, 27);
                color: white;
                box-shadow: -3px 6px 4px #222;
                border-radius: 10px;
                font-size: 2.3rem;
                padding-bottom: 0px;
                margin-right: 5px;
                margin-left: 5px;
               
        }

        .Book-Info{
            color: white;
            text-align: center;
            font-family:'Montserrat', sans-serif;
            font-size: 23px;
            font-weight: bold;
            margin-bottom: 0px; 
        }
        </style>


    </head>

    <body>

         <div class="navbar">

                <div class="logoname"> 
                    <a href=""></a><img src='/static/images/COLORED.png/'alt="" width="100" height="100" id="logo">
                    <a href="" class="home">
                    <pre id="cgcf"> Project Pahiram
<span id="rll"> read, love and learn</span> 
        </pre> 
                    </a>     
                </div>
<!-- 
                <div class="navoption">

                    <a href="" class="option">About</a>
                    <a href="" class="option">Borrow</a>
                    <a href="http://localhost:8000/" class="option">Create</a>
                   
                </div> -->
            </div>

                <!-- End of Nav Bar -->

                <!-- Title -->
        
        <div class="TAO" id="TAO">
            <div class="borrow" id="borrow">

                 <h1 class="title">PROJECT PAHIRAM</h1>

                    <p class="sub">Borrower Info</p>
            <table>
                <tr>
                 <td>Your Link:</td>
                    <td>Reader:</td>
                    <td>Number:</td>
                    <td>Location:</td>
                    <td>School:</td>
                </tr>
                <tr>
                    
                    <td>pahiram.ph/IReadApp/{{mId.id}}</td>
                    <td>{{mId.Reader.upper}}</td>
                    <td>{{mId.Number.upper}}</td>
                    <td>{{mId.Location.upper}}</td>
                    <td>{{mId.School.upper}}</td>
                </tr>

            </table>


        </div>
    </div>


        <div class="click">

        <p class="sub">Choose 1 Transaction</p>

        <button id="pahiram" value="borrow">Borrow</button>

        <button id="donate" value="donate">Donate</button>

        <button id="penalty" value="penalty">Check</button>

        <a href="#"><button name="rules" id="reg" value="rules">Rules</button></a>


        </div>

        
<div class="borrowing">
                
                <p id="log">PAHIRAM a BOOK</p>

        <div class="Book-Info">

            <form method="POST" id="fields" action="/IReadApp/{{mId.id}}/addItem"> 

                <input type="text" name="CodeEntry" id="CodeEntry" placeholder="ISBN"> 
            
                <input type="text" name="Category" id="Category" placeholder="Category"> <br>
 
                <input type="text" name="AuthorEntry" id="AuthorEntry" required placeholder="Book Author">

                <input type="text" name="BookEntry" id="BookEntry" placeholder="Book Title" required>
                <br>
                <label>Date Borrowed</label> <br>
                <input type="date" name="BorrDate" id="BorrDate" onchange="dueFunc()">
                <br>

                <label>DueDate</label> <br>
                <input type="text" name="DueDate" id="DueDate" readonly="" value="">
                <br>

      
                <br>

            
                <input type="submit" name="btn-list" id="btnSave" value="Confirm" class="button">

              
                
                {% csrf_token %}



            </form>
              
        </div>

        <div class="notice">

                <p>Kindly read and strictly follow the rules and regulations, <br>
                fail to do so will result to deletion of records and banning of the user.</p>
                    
        </div>

         <div class="logstat">

            <p id="log">Borrow Log</p>

       
            <table id="booklist" name='booklist'>
                <tr>

                    <th>Category</th>
                    <th>Book Title</th>
                    <th>Date Borrowed</th>
                    <th>Due Date</th>
                    <th>Date Returned</th>
                    <th>Remarks</th>

                    
                </tr>
                {% for item in mId.item_set.all %}
                <tr>
                    <td>{{forloop.counter}}. {{item.name}}</td>
                    <td>{{item.title}}</td>
                     <td>{{item.DateBorr}}</td>
                      <td>{{item.DueDate}}</td>
                      <td>{{item.Remarks}}</td>
                      <td>{{item.DateRet}}</td>
                </tr>
                {% endfor%}

            </table>

         </div>

</div>
<!-- 
<div class="donating">
    
     <div class="Book-Info">

                <form method="POST" id="fields" action="/IReadApp/{{mId.id}}/addDon"> 

                <br><br>
                
                <p id="log">GIVE a LIBRO</p>

                <div class="Book-Info">

                <label>Donated Books Quantity</label> <br> 
                <input type="Number" name="Quantity" id="Quantity" min="1"> <br>

                <label>Mode</label> <br>
                <input type="text" name="Mode" id="Mode" required placeholder="Delivery/Meet-Up/etc."> <br>
               
                <label>Categories</label> <br>
                <input type="text" name="Categories" id="Categories"> <br>

                <label>Message</label> <br>
                <input type="text" name="Message" id="Message" > <br>
      
                <br>


                <input type="submit" name="btn-list" id="btnSave" value="Confirm" class="button">

                </div>
                
                {% csrf_token %}

            </form>

            
        </div>

        <div class="logstat">

            <p id="log">Donation Log</p>
           
                
                <table id="booklist" name="booklist">
                    <tr>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Categories</th>
                        <th>Status</th>
                        
                    </tr>
                    {% for dontrans in mId.dontrans_set.all %}
                    <tr>

                        <td>{{forloop.counter}}. Books</td>
                        <th>{{dontrans.Quantity}}</td>
                        <td>{{dontrans.Categories}}</td>
                        <td>{{dontrans.Status}}</td>
                      
                    </tr>
                    {% endfor%}
                </table>

        </div>
</div>       -->

            <div class="chapter">

            <div class="deut">

                <p class="verse1">
                    "Books are good company, in sad times and happy times, <br>
                    for books are people – people who have managed to <br>
                    stay alive by hiding between the covers of a book.”<br>
                </p>
                <p class="text1"> – E.B. White</p>

            </div>
            <div class="mala">

                <p class="verse2">
                    “In the case of good books, the point is <br>
                     not to see how many of them you can get through, <br>
                     but rather how many can get through to you.”
                </p>
                <p class="text2">- Mortimer J. Adler</p>

            </div>
            
        </div>

        <!-- End of Verses -->

        <!-- Main Verse -->
        <div class="main">
            <div class="mainver">

                <p>“That perfect tranquility of life, which is <br>
                    nowhere to be found but in retreat, <br>
                    a faithful friend and a good library.” <br></p>
                <p id="cor">– Aphra Behn</p>

            </div>
        </div>

        <footer class="container">

            <p id="verse">“Books are a uniquely portable magic.” – Stephen King</p>
            <p id="copy">Copyright &copy; Project Pahiram.</p>

            <div class="navoptionfoot">

                <a href="" class="optionf">About</a>
                <a href="" class="optionf">Borrow</a>
                <a href="" class="optionf">Create</a>
              

            </div>
        </footer>
        <!-- End of footer -->





    <script>
        function dueFunc(){
            var due = new Date(document.getElementById("BorrDate").value);
            due.setDate(due.getDate() + 30);
            document.getElementById("DueDate").value = due.toDateString();
        }
        

    </script>

    </body>




    </html>
