{%load static%}
<html>

    <head>

        <title>Project Borrower</title>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">


    </head>

    <body>

         <div class="navbar">

                <div class="logoname"> 
                    <a href=""></a><img src='/static/images/COLORED.png' alt="" width="100" height="100" id="logo">
                    <a href="" class="home">
                    <pre id="cgcf"> Project Pahiram
<span id="rll"> read, love and learn</span> 
        </pre> 
                    </a>     
                </div>

                <div class="navoption">

                <a href="" class="option">About</a>
               
                </div>
            </div>

          
        <div>
        <div class="TAO" id="TAO">
            <div class="borrow" id="borrow">

                 <h1 class="title">PAHIRAM a BOOK</h1>

                    <p class="sub">Reader Log</p>
            </div>

                <div class="User-Info">

                <form method="POST" id="fields" action="IReadApp/newlist_url"> 

                <label for="NameEntry">Name of Reader</label> <br>
                <input type="text" name="NewReader" id="NewReader" class="NewReader" ><br>

                <label for="Number"> Reader Number</label> <br>
                <input type="text" name="Number" id="Number" class="Number" maxlength="11"><br>

                <label for="ReadLoc">Reader Location</label><br>
                <input type="text" name="ReadLoc" id="ReadLoc" ><br>

                <label for="School">School Affiliation</label> <br>
                <input type="text" name="School" id="School" class="School" ><br>

                </div>

                <div class="Book-Info">

                <input type="submit" name="btn-list" id="btnSave" value="Confirm" class="button">

                </div>
                
                {% csrf_token %}

            </form>

             <<!-- div class="logstat">

             <p class="sub">Borrower Log</p>

       
            <table id="booklist" name='booklist'>
                {% for item in Borrower %}
                <tr>
                    <td id="authorid"> <a href="http://localhost:8000/IReadApp/{{forloop.counter}}/">http://localhost:8000/IReadApp/{{forloop.counter}}/</td></a>
                    <td>{{item.Reader}}</td>
                    <td>{{item.Number}}</td>
                    <td>{{item.Location}}</td>
                    <td>{{item.School}}</td>
                </tr>
                {% endfor%}

            </table>

        </div> -->


            <div class="chapter">

            <div class="deut">

                <p class="verse1">
                    "Books are good company, in sad times and happy times, <br>
                    for books are people – people who have managed to <br>
                    stay alive by hiding between the covers of a book.”<br>
                </p>
                <p class="text1"> – E.B. White</p>

            </div>
            <div class="mala">

                <p class="verse2">
                    “In the case of good books, the point is <br>
                     not to see how many of them you can get through, <br>
                     but rather how many can get through to you.”
                </p>
                <p class="text2">- Mortimer J. Adler</p>

            </div>
            
        </div>

    
        <div class="main">
            <div class="mainver">

                <p>“That perfect tranquility of life, which is <br>
                    nowhere to be found but in retreat, <br>
                    a faithful friend and a good library.” <br></p>
                <p id="cor">– Aphra Behn</p>

            </div>
        </div>

        <footer class="container">


            <p id="verse">“Books are a uniquely portable magic.” – Stephen King</p>
            <p id="copy">Copyright &copy; 2021 Project Pahiram.</p>

            <div class="navoptionfoot">

                <a href="" class="optionf">About</a>
                <a href="" class="optionf">Borrow</a>
                <a href="" class="option">Create</a>

            </div>
        </footer>



    </body>




    </html>
